/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* latin-ext */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXoo9Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v45/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDr4fIA9c.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v45/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrcfIA9c.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v45/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrAfIA9c.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v45/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrwfIA9c.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v45/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDr0fIA9c.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v45/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfIA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


          @keyframes shadcn-down { from{ height: 0 } to { height: var(--radix-accordion-content-height)} }
          @keyframes shadcn-up { from{ height: var(--radix-accordion-content-height)} to { height: 0 } }
          @keyframes shadcn-enter { from{ opacity: var(--un-enter-opacity, 1); transform: translate3d(var(--un-enter-translate-x, 0), var(--un-enter-translate-y, 0), 0) scale3d(var(--un-enter-scale, 1), var(--un-enter-scale, 1), var(--un-enter-scale, 1)) rotate(var(--un-enter-rotate, 0)) } }
          @keyframes shadcn-exit { to{ opacity: var(--un-exit-opacity, 1); transform: translate3d(var(--un-exit-translate-x, 0), var(--un-exit-translate-y, 0), 0) scale3d(var(--un-exit-scale, 1), var(--un-exit-scale, 1), var(--un-exit-scale, 1)) rotate(var(--un-exit-rotate, 0)) } }

            :root {
              --background: 36 6% 97%;
              --foreground: 222.2 84% 8%;
              --card: 36 6% 97%;
              --card-foreground: 222.2 84% 8%;
              --popover: 36 6% 97%;
              --popover-foreground: 222.2 84% 8%;
              --primary: 215 98% 23%;
              --primary-foreground: 210 40% 98%;
              --secondary: 189 46% 88%;
              --secondary-foreground: 222.2 47.4% 11.2%;
              --muted: 189 10% 67%;
              --muted-foreground: 215.4 16.3% 46.9%;
              --accent: 189 26% 88%;
              --accent-foreground: 222.2 47.4% 11.2%;
              --destructive: 0 74.2% 60.2%;
              --destructive-foreground: 210 40% 98%;
              --border: 214.3 31.8% 86.4%;
              --input: 214.3 31.8% 86.4%;
              --ring: 215 98% 23%;
              --radius: 0.75rem;
            }

            .dark {
              --background: 222.2 84% 4.9%;
              --foreground: 210 40% 98%;
              --card: 222.2 84% 4.9%;
              --card-foreground: 210 40% 98%;
              --popover: 222.2 84% 4.9%;
              --popover-foreground: 210 40% 98%;
              --primary: 217.2 91.2% 59.8%;
              --primary-foreground: 222.2 47.4% 11.2%;
              --secondary: 217.2 32.6% 17.5%;
              --secondary-foreground: 210 40% 98%;
              --muted: 217.2 32.6% 17.5%;
              --muted-foreground: 215 20.2% 65.1%;
              --accent: 217.2 32.6% 17.5%;
              --accent-foreground: 210 40% 98%;
              --destructive: 0 62.8% 30.6%;
              --destructive-foreground: 210 40% 98%;
              --border: 217.2 32.6% 17.5%;
              --input: 217.2 32.6% 17.5%;
              --ring: 224.3 76.3% 48%;
            }

          * {
            border-color: hsl(var(--border));
          }

          body {
            color: hsl(var(--foreground));
            font-synthesis-weight: none;
            text-rendering: optimizeLegibility;
            background: hsl(var(--background));
          }
        

          *:not(div) {
            -webkit-transition-property: all;
            -o-transition-property: all;
            transition-property: all;
            -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            -webkit-transition-duration: 400ms;
            -o-transition-duration: 400ms;
            transition-duration: 400ms;
            font-family: "Comfortaa";
          }
          a:hover {
            text-decoration-line: underline;
            text-underline-offset: 4px;
            text-decoration-color: rgb(253 224 71);
          }
        
/* layer: icons */
.i-bi\:building-fill-gear{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='currentColor'%3E%3Cpath d='M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-3.59 1.787A.5.5 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.5 4.5 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z'/%3E%3Cpath d='M11.886 9.46c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0a1.5 1.5 0 0 0 3 0'/%3E%3C/g%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-bi\:ev-front{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='currentColor'%3E%3Cpath d='M9.354 4.243a.19.19 0 0 0-.085-.218a.186.186 0 0 0-.23.034L6.051 7.246a.188.188 0 0 0 .136.316h1.241l-.673 2.195a.19.19 0 0 0 .085.218c.075.043.17.03.23-.034l2.88-3.187a.188.188 0 0 0-.137-.316H8.572z'/%3E%3Cpath d='M4.819 2A2.5 2.5 0 0 0 2.52 3.515l-.792 1.848a.8.8 0 0 1-.38.404c-.5.25-.855.715-.965 1.262L.05 8.708a2.5 2.5 0 0 0-.049.49v.413c0 .814.39 1.543 1 1.997V13.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1.338c1.292.048 2.745.088 4 .088s2.708-.04 4-.088V13.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1.892c.61-.454 1-1.183 1-1.997v-.413q0-.248-.049-.49l-.335-1.68a1.8 1.8 0 0 0-.964-1.261a.8.8 0 0 1-.381-.404l-.792-1.848A2.5 2.5 0 0 0 11.181 2H4.82ZM3.44 3.91A1.5 1.5 0 0 1 4.82 3h6.362a1.5 1.5 0 0 1 1.379.91l.792 1.847a1.8 1.8 0 0 0 .853.904c.222.112.381.32.43.564l.336 1.679q.03.146.029.294v.413a1.48 1.48 0 0 1-1.408 1.484c-1.555.07-3.786.155-5.592.155s-4.037-.084-5.592-.155A1.48 1.48 0 0 1 1 9.611v-.413q0-.148.03-.294l.335-1.68a.8.8 0 0 1 .43-.563c.383-.19.685-.511.853-.904z'/%3E%3C/g%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-carbon\:chart-stacked{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M28 28V6h-8v22h-4V14H8v14H4V2H2v26a2 2 0 0 0 2 2h26v-2ZM22 8h4v10h-4Zm-12 8h4v6h-4Z'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-mage\:light-bulb-electricity{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M18.156 16.314c-2.583 2.085-5.177 1.491-6.469 1.491c-1.292 0-1.373.262-2.321 1.27a1.29 1.29 0 0 1-.424.302a1.223 1.223 0 0 1-1.01 0a1.293 1.293 0 0 1-.433-.303l-2.594-2.568a1.26 1.26 0 0 1-.303-.454a1.297 1.297 0 0 1-.101-.514a1.228 1.228 0 0 1 .404-.937c1.009-.947 1.292-1.128 1.292-2.327c0-1.51-.717-4.372 2.24-7.334a7.43 7.43 0 0 1 2.523-1.662a7.542 7.542 0 0 1 3.028-.524a7.47 7.47 0 0 1 5.45 2.61a7.52 7.52 0 0 1 .8 8.662a7.529 7.529 0 0 1-2.051 2.288zm-13.554-.01l-1.514 1.511a1.007 1.007 0 0 0-.202 1.26l2.11 2.014c.282.292.847.172 1.291-.242l1.423-1.52'/%3E%3Cpath d='m15.248 5.873l-5.063 4.273a.33.33 0 0 0-.094.12a.414.414 0 0 0-.036.155a.33.33 0 0 0 .067.136a.3.3 0 0 0 .134.031l2.913.68l-1.26 3.382a.138.138 0 0 0-.014.063l.052.012l.062.014l5.063-4.273a.224.224 0 0 0 .212-.114a.276.276 0 0 0 .037-.155a.33.33 0 0 0-.067-.136a.3.3 0 0 0-.135-.031l-2.902-.677l1.172-3.338a.074.074 0 0 0 .015-.062l-.063-.014z'/%3E%3C/g%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-material-symbols\:emergency-heat{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M3 14q0-2.625 1.25-4.675T7 5.875t2.75-2.138L11 3v3.3q0 .925.625 1.462t1.4.538q.425 0 .813-.175t.712-.575L15 7q1.8 1.05 2.9 2.912T19 14q0 2.2-1.075 4.013T15.1 20.874q.425-.6.663-1.312T16 18.05q0-1-.375-1.888t-1.075-1.587L11 11.1l-3.525 3.475q-.725.725-1.1 1.6T6 18.05q0 .8.238 1.513t.662 1.312q-1.75-1.05-2.825-2.863T3 14m8-.1l2.125 2.075q.425.425.65.95T14 18.05q0 1.225-.875 2.088T11 21t-2.125-.862T8 18.05q0-.575.225-1.112t.65-.963zM21 11q-.425 0-.712-.288T20 10t.288-.712T21 9t.713.288T22 10t-.288.713T21 11m-1-3V3h2v5z'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-pajamas\:dashboard{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M13.545 2.1a.75.75 0 0 1 .274 1.025l-3.472 6.007a3 3 0 1 1-1.208-.908l1.759-3.042a6.5 6.5 0 0 0-2.148-.639V5a.75.75 0 1 1-1.5 0v-.457a6.5 6.5 0 0 0-1.829.49l.229.396a.75.75 0 1 1-1.3.75l-.228-.396a6.5 6.5 0 0 0-1.339 1.34l.396.227a.75.75 0 0 1-.75 1.3l-.396-.229a6.5 6.5 0 0 0-.498 1.905a.75.75 0 0 1-1.492-.155A8 8 0 0 1 11.65 3.88l.87-1.506a.75.75 0 0 1 1.025-.274m-.107 4.047a.75.75 0 0 1 1.047.169a8 8 0 0 1 1.51 4.963a.75.75 0 1 1-1.499-.052a6.5 6.5 0 0 0-1.227-4.033a.75.75 0 0 1 .17-1.047ZM9.5 11a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0' clip-rule='evenodd'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-ph\:solar-panel-duotone{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 256' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='currentColor'%3E%3Cpath d='M232 216H24l40.7-72h126.6Z' opacity='.2'/%3E%3Cpath d='M32 104a8 8 0 0 1 8-8h16a8 8 0 0 1 0 16H40a8 8 0 0 1-8-8m39.43-45.25a8 8 0 0 0 11.32-11.32L71.43 36.12a8 8 0 0 0-11.31 11.31ZM128 40a8 8 0 0 0 8-8V16a8 8 0 0 0-16 0v16a8 8 0 0 0 8 8m50.91 21.09a8 8 0 0 0 5.66-2.34l11.31-11.32a8 8 0 0 0-11.31-11.31l-11.32 11.31a8 8 0 0 0 5.66 13.66M192 104a8 8 0 0 0 8 8h16a8 8 0 0 0 0-16h-16a8 8 0 0 0-8 8m-104 8a8 8 0 0 0 8-8a32 32 0 0 1 64 0a8 8 0 0 0 16 0a48 48 0 0 0-96 0a8 8 0 0 0 8 8m150.91 108a8 8 0 0 1-6.91 4H24a8 8 0 0 1-7-11.94l40.69-72a8 8 0 0 1 7-4.06H191.3a8 8 0 0 1 7 4.06l40.69 72a8 8 0 0 1-.08 7.94m-52.27-68h-24.37l3.48 16h29.93Zm-37.26 16l-3.48-16h-35.8l-3.48 16Zm-46.24 16l-5.21 24h60.14l-5.21-24Zm-42.82-16h29.93l3.48-16H69.36Zm-22.61 40h43.84l5.22-24H51.28Zm180.58 0l-13.57-24h-35.49l5.22 24Z'/%3E%3C/g%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-solar\:smart-home-bold-duotone{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M14 22h-4c-3.771 0-5.657 0-6.828-1.212C2 19.576 2 17.626 2 13.725v-1.521c0-2.289 0-3.433.52-4.381c.518-.949 1.467-1.537 3.364-2.715l2-1.241C9.889 2.622 10.892 2 12 2c1.108 0 2.11.622 4.116 1.867l2 1.241c1.897 1.178 2.846 1.766 3.365 2.715c.519.948.519 2.092.519 4.38v1.522c0 3.9 0 5.851-1.172 7.063C19.657 22 17.771 22 14 22' opacity='.5'/%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M2 12.25a.75.75 0 0 1 .75-.75c5.39 0 9.758 4.365 9.758 9.75a.75.75 0 0 1-1.5 0c0-4.556-3.697-8.25-8.257-8.25A.75.75 0 0 1 2 12.25m.75 2.25a.75.75 0 1 0 0 1.5a5.252 5.252 0 0 1 5.255 5.25a.75.75 0 0 0 1.5 0a6.753 6.753 0 0 0-6.754-6.75M2 18.25a.75.75 0 0 1 .75-.75a3.751 3.751 0 0 1 3.754 3.75a.75.75 0 0 1-1.502 0A2.25 2.25 0 0 0 2.751 19A.75.75 0 0 1 2 18.25' clip-rule='evenodd'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
.i-tdesign\:secured{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m12 .44l10 3.5V12c0 4.127-2.533 7.012-4.896 8.803a19.744 19.744 0 0 1-4.65 2.595a6.99 6.99 0 0 1-.087.033l-.025.009l-.007.002l-.003.001c-.001 0-.002 0-.332-.943l-.331.944h-.001l-.003-.002l-.007-.002l-.025-.01a12.165 12.165 0 0 1-.398-.155a19.749 19.749 0 0 1-4.34-2.473C4.535 19.013 2 16.128 2 12.001V3.94zm0 22.06l-.331.944l.331.116l.331-.116zm0-1.072l.009-.004a17.755 17.755 0 0 0 3.887-2.215C18.034 17.59 20 15.223 20 12V5.36l-8-2.8l-8 2.8V12c0 3.223 1.966 5.588 4.104 7.21A17.75 17.75 0 0 0 12 21.428m6.072-13.085l-7.071 7.071l-4.243-4.242l1.415-1.415L11 12.586l5.657-5.657z'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
/* layer: shortcuts */
.grid-cols-center{display:grid;grid-auto-flow:column;align-items:center;justify-content:center;}
.flex-center{display:flex;align-items:center;justify-content:center;}
.active\:_btn_click:active{--un-scale-x:0.97;--un-scale-y:0.97;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));--un-brightness:brightness(0.75);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;transition-duration:400ms;}
/* layer: default */
.disabled\:pointer-events-none:disabled{pointer-events:none;}
.absolute{position:absolute;}
.relative{position:relative;}
.sticky{position:sticky;}
.inset-0{inset:0;}
.top-0{top:0;}
.z-10{z-index:10;}
.grid{display:grid;}
.grid-flow-col{grid-auto-flow:column;}
.grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.m-4{margin:1rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my-6{margin-top:1.5rem;margin-bottom:1.5rem;}
.my-8{margin-top:2rem;margin-bottom:2rem;}
.-ml-16{margin-left:-4rem;}
.-mt-16{margin-top:-4rem;}
.\[\&\>li\]\:mt-2>li,
.mt-2{margin-top:0.5rem;}
.mb-1{margin-bottom:0.25rem;}
.ml-6{margin-left:1.5rem;}
.mt-4{margin-top:1rem;}
.mt-8{margin-top:2rem;}
.first\:mt-0:first-child{margin-top:0;}
.inline-block{display:inline-block;}
[hidden=""]{display:none;}
.h-\[60px\]{height:60px;}
.h-10{height:2.5rem;}
.h-11{height:2.75rem;}
.h-12{height:3rem;}
.h-9{height:2.25rem;}
.max-h-80vh{max-height:80vh;}
.max-w-\[700px\]{max-width:700px;}
.max-w-\[800px\]{max-width:800px;}
.max-w-md{max-width:28rem;}
.max-w-min{max-width:min-content;}
.max-w-xs{max-width:20rem;}
.min-h-screen{min-height:100vh;}
.w-\[100px\]{width:100px;}
.w-10{width:2.5rem;}
.w-full{width:100%;}
.w-screen{width:100vw;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-col{flex-direction:column;}
.caption-bottom{caption-side:bottom;}
.scale-150{--un-scale-x:1.5;--un-scale-y:1.5;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.disabled\:cursor-not-allowed:disabled{cursor:not-allowed;}
.scroll-m-20{scroll-margin:5rem;}
.list-disc{list-style-type:disc;}
.place-self-center{place-self:center;}
.grid-items-start,
.items-start{align-items:flex-start;}
.grid-items-center,
.items-center{align-items:center;}
.grid-justify-center,
.justify-center{justify-content:center;}
.gap-10{gap:2.5rem;}
.gap-4{gap:1rem;}
.gap-6{gap:1.5rem;}
.grid-place-items-center{place-items:center;}
.space-x-2>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(0.5rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(0.5rem * var(--un-space-x-reverse));}
.space-x-4>:not([hidden])~:not([hidden]){--un-space-x-reverse:0;margin-left:calc(1rem * calc(1 - var(--un-space-x-reverse)));margin-right:calc(1rem * var(--un-space-x-reverse));}
.space-y-1\.5>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.375rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.375rem * var(--un-space-y-reverse));}
.space-y-2>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.5rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.5rem * var(--un-space-y-reverse));}
.space-y-3>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.75rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.75rem * var(--un-space-y-reverse));}
.space-y-4>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(1rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(1rem * var(--un-space-y-reverse));}
.overflow-auto{overflow:auto;}
.whitespace-nowrap{white-space:nowrap;}
.\[\&_tr\:last-child\]\:border-0 tr:last-child{border-width:0px;}
.border{border-width:1px;}
.file\:border-0::file-selector-button{border-width:0px;}
.\[\&_tr\]\:border-b tr,
.border-b{border-bottom-width:1px;}
.border-t{border-top-width:1px;}
.\[\&\>tr\]\:last\:border-b-0:last-child>tr{border-bottom-width:0px;}
.border-gray-200{--un-border-opacity:1;border-color:rgb(229 231 235 / var(--un-border-opacity));}
.border-input{--un-border-opacity:1;border-color:hsl(var(--input) / var(--un-border-opacity));}
.border-transparent{border-color:transparent;}
.dark .dark\:border-gray-800{--un-border-opacity:1;border-color:rgb(31 41 55 / var(--un-border-opacity));}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:var(--radius);}
.rounded-md{border-radius:calc(var(--radius) - 2px);}
.rounded-sm{border-radius:calc(var(--radius) - 4px);}
.bg-background,
.data-\[state\=active\]\:bg-background[data-state=active]{--un-bg-opacity:.66;background-color:hsl(var(--background) / var(--un-bg-opacity));}
.bg-black{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity));}
.bg-card{--un-bg-opacity:.66;background-color:hsl(var(--card) / var(--un-bg-opacity));}
.bg-destructive{--un-bg-opacity:1;background-color:hsl(var(--destructive) / var(--un-bg-opacity));}
.bg-gray-100{--un-bg-opacity:1;background-color:rgb(243 244 246 / var(--un-bg-opacity));}
.bg-muted,
.data-\[state\=selected\]\:bg-muted[data-state=selected]{--un-bg-opacity:1;background-color:hsl(var(--muted) / var(--un-bg-opacity));}
.bg-muted\/50{background-color:hsl(var(--muted) / 0.5);}
.bg-primary{--un-bg-opacity:1;background-color:hsl(var(--primary) / var(--un-bg-opacity));}
.bg-primary\/10{background-color:hsl(var(--primary) / 0.1);}
.bg-secondary{--un-bg-opacity:1;background-color:hsl(var(--secondary) / var(--un-bg-opacity));}
.bg-secondary\/20{background-color:hsl(var(--secondary) / 0.2);}
.bg-secondary\/50{background-color:hsl(var(--secondary) / 0.5);}
.bg-white{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity));}
.dark .dark\:bg-gray-800{--un-bg-opacity:1;background-color:rgb(31 41 55 / var(--un-bg-opacity));}
.dark .dark\:bg-gray-950{--un-bg-opacity:1;background-color:rgb(3 7 18 / var(--un-bg-opacity));}
.dark .dark\:hover\:bg-gray-800:hover{--un-bg-opacity:1;background-color:rgb(31 41 55 / var(--un-bg-opacity));}
.hover\:bg-accent:hover{--un-bg-opacity:1;background-color:hsl(var(--accent) / var(--un-bg-opacity));}
.hover\:bg-destructive\/80:hover{background-color:hsl(var(--destructive) / 0.8);}
.hover\:bg-destructive\/90:hover{background-color:hsl(var(--destructive) / 0.9);}
.hover\:bg-gray-100:hover{--un-bg-opacity:1;background-color:rgb(243 244 246 / var(--un-bg-opacity));}
.hover\:bg-muted\/50:hover{background-color:hsl(var(--muted) / 0.5);}
.hover\:bg-primary\/80:hover{background-color:hsl(var(--primary) / 0.8);}
.hover\:bg-primary\/90:hover{background-color:hsl(var(--primary) / 0.9);}
.hover\:bg-secondary\/80:hover{background-color:hsl(var(--secondary) / 0.8);}
.file\:bg-transparent::file-selector-button{background-color:transparent;}
.bg-op-20{--un-bg-opacity:0.2;}
.bg-op-50{--un-bg-opacity:0.5;}
.object-cover{object-fit:cover;}
.p-1{padding:0.25rem;}
.p-4{padding:1rem;}
.p-6{padding:1.5rem;}
.p-8,
.p8{padding:2rem;}
.px-10{padding-left:2.5rem;padding-right:2.5rem;}
.px-16{padding-left:4rem;padding-right:4rem;}
.px-2\.5{padding-left:0.625rem;padding-right:0.625rem;}
.px-3{padding-left:0.75rem;padding-right:0.75rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.px-8{padding-left:2rem;padding-right:2rem;}
.py-0\.5{padding-top:0.125rem;padding-bottom:0.125rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.py-1\.5{padding-top:0.375rem;padding-bottom:0.375rem;}
.py-12{padding-top:3rem;padding-bottom:3rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.\[\&\:has\(\[role\=checkbox\]\)\]\:pr-0:has([role=checkbox]){padding-right:0;}
.pb-2{padding-bottom:0.5rem;}
.pt-0{padding-top:0;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.align-middle{vertical-align:middle;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-4xl{font-size:2.25rem;line-height:2.5rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.text-xs{font-size:0.75rem;line-height:1rem;}
.file\:text-sm::file-selector-button{font-size:0.875rem;line-height:1.25rem;}
.dark .dark\:text-gray-400{--un-text-opacity:1;color:rgb(156 163 175 / var(--un-text-opacity));}
.dark .dark\:text-green-400{--un-text-opacity:1;color:rgb(74 222 128 / var(--un-text-opacity));}
.data-\[state\=active\]\:text-foreground[data-state=active],
.text-foreground{--un-text-opacity:1;color:hsl(var(--foreground) / var(--un-text-opacity));}
.text-black{--un-text-opacity:1;color:rgb(0 0 0 / var(--un-text-opacity));}
.text-card-foreground{--un-text-opacity:1;color:hsl(var(--card-foreground) / var(--un-text-opacity));}
.text-dark-1{--un-text-opacity:1;color:rgb(60 60 60 / var(--un-text-opacity));}
.text-destructive-foreground{--un-text-opacity:1;color:hsl(var(--destructive-foreground) / var(--un-text-opacity));}
.text-gray-500{--un-text-opacity:1;color:rgb(107 114 128 / var(--un-text-opacity));}
.text-gray-6{--un-text-opacity:1;color:rgb(75 85 99 / var(--un-text-opacity));}
.text-green-500{--un-text-opacity:1;color:rgb(34 197 94 / var(--un-text-opacity));}
.text-muted-foreground{--un-text-opacity:1;color:hsl(var(--muted-foreground) / var(--un-text-opacity));}
.text-primary{--un-text-opacity:1;color:hsl(var(--primary) / var(--un-text-opacity));}
.text-primary-foreground{--un-text-opacity:1;color:hsl(var(--primary-foreground) / var(--un-text-opacity));}
.text-secondary-foreground{--un-text-opacity:1;color:hsl(var(--secondary-foreground) / var(--un-text-opacity));}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity));}
.dark .dark\:hover\:text-gray-50:hover{--un-text-opacity:1;color:rgb(249 250 251 / var(--un-text-opacity));}
.hover\:text-accent-foreground:hover{--un-text-opacity:1;color:hsl(var(--accent-foreground) / var(--un-text-opacity));}
.hover\:text-gray-900:hover{--un-text-opacity:1;color:rgb(17 24 39 / var(--un-text-opacity));}
.hover\:text-yellow-3:hover{--un-text-opacity:1;color:rgb(253 224 71 / var(--un-text-opacity));}
.placeholder\:text-muted-foreground::placeholder{--un-text-opacity:1;color:hsl(var(--muted-foreground) / var(--un-text-opacity));}
.font-bold{font-weight:700;}
.font-extrabold{font-weight:800;}
.font-medium{font-weight:500;}
.font-semibold{font-weight:600;}
.file\:font-medium::file-selector-button{font-weight:500;}
.leading-none{line-height:1;}
.tracking-tight{letter-spacing:-0.025em;}
.tracking-tighter{letter-spacing:-0.05em;}
.tracking-wide{letter-spacing:0.025em;}
.font-bebas{font-family:"Bebas Neue";}
.hover\:underline:hover{text-decoration-line:underline;}
.underline-offset-4{text-underline-offset:4px;}
.disabled\:opacity-50:disabled{opacity:0.5;}
.data-\[state\=active\]\:shadow-sm[data-state=active],
.shadow-sm{--un-shadow:var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, rgb(0 0 0 / 0.05));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.outline{outline-style:solid;}
.focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px;}
.focus-visible\:outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px;}
.ring-2{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus\:ring-2:focus{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus-visible\:ring-1:focus-visible{--un-ring-width:1px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus-visible\:ring-2:focus-visible{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.focus\:ring-offset-2:focus{--un-ring-offset-width:2px;}
.focus-visible\:ring-offset-2:focus-visible{--un-ring-offset-width:2px;}
.ring-black{--un-ring-opacity:1;--un-ring-color:rgb(0 0 0 / var(--un-ring-opacity));}
.focus\:ring-ring:focus{--un-ring-opacity:.5;--un-ring-color:hsl(var(--ring) / var(--un-ring-opacity));}
.dark .dark\:focus-visible\:ring-gray-300:focus-visible{--un-ring-opacity:1;--un-ring-color:rgb(209 213 219 / var(--un-ring-opacity));}
.focus-visible\:ring-gray-950:focus-visible{--un-ring-opacity:1;--un-ring-color:rgb(3 7 18 / var(--un-ring-opacity));}
.focus-visible\:ring-ring:focus-visible{--un-ring-opacity:.5;--un-ring-color:hsl(var(--ring) / var(--un-ring-opacity));}
.ring-op-50{--un-ring-opacity:0.5;}
.ring-offset-background{--un-ring-offset-opacity:.66;--un-ring-offset-color:hsl(var(--background) / var(--un-ring-offset-opacity));}
.backdrop-blur-lg{--un-backdrop-blur:blur(16px);-webkit-backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);}
.backdrop-blur-md{--un-backdrop-blur:blur(12px);-webkit-backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);backdrop-filter:var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);}
.drop-shadow-xl{--un-drop-shadow:drop-shadow(0 20px 13px var(--un-drop-shadow-color, rgb(0 0 0 / 0.03))) drop-shadow(0 8px 5px var(--un-drop-shadow-color, rgb(0 0 0 / 0.08)));filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-colors{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
@media (max-width: 767.9px){
.\<md\:grid-flow-row{grid-auto-flow:row;}
.\<md\:-ml-8{margin-left:-2rem;}
.\<md\:-mt-8{margin-top:-2rem;}
.\<md\:hidden{display:none;}
.\<md\:max-h-40vh{max-height:40vh;}
.\<md\:p-4{padding:1rem;}
.\<md\:px-8{padding-left:2rem;padding-right:2rem;}
}
@media (min-width: 640px){
.sm\:text-4xl{font-size:2.25rem;line-height:2.5rem;}
}
@media (min-width: 768px){
.md\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.md\:max-w-2xl{max-width:42rem;}
.md\:flex-row{flex-direction:row;}
.md\:gap-10{gap:2.5rem;}
.md\:gap-16{gap:4rem;}
.md\:px-6{padding-left:1.5rem;padding-right:1.5rem;}
.md\:py-24{padding-top:6rem;padding-bottom:6rem;}
.md\:text-5xl{font-size:3rem;line-height:1;}
.md\:text-7xl{font-size:4.5rem;line-height:1;}
.md\:text-sm{font-size:0.875rem;line-height:1.25rem;}
.md\:text-xl\/relaxed{font-size:1.25rem;line-height:1.625;}
}
@media (min-width: 1024px){
.lg\:gap-10{gap:2.5rem;}
.lg\:py-32{padding-top:8rem;padding-bottom:8rem;}
.lg\:text-base\/relaxed{font-size:1rem;line-height:1.625;}
.lg\:leading-tight{line-height:1.25;}
}
@media (min-width: 1280px){
.xl\:text-\[3\.4rem\]{font-size:3.4rem;}
.xl\:text-xl\/relaxed{font-size:1.25rem;line-height:1.625;}
}
@media (min-width: 1536px){
.\32 xl\:text-\[3\.75rem\]{font-size:3.75rem;}
}